:root {
    --browngrey: rgb(125, 118, 118);
    --pink: rgb(208, 100, 194); 
    --grey: #aaa;
}

html {
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1 {
    font-size:20px;
    position: relative;
    top: 10px;
    left: 10px;
    line-height: 26pt;
    
}

h2 {
    font-size: 12px;
    position: relative;
    left: 898px;
    top: 5px;
}
.mytable {
    border-collapse: collapse;
    background-color: white;
    border: black;
    width: 35rem;
    }
  
.thetable {
    margin: 0 auto;
    transform: rotate(90deg);
    position: relative;
    right:210px; 
    top:230px;
    
}
  
  #bgpink {
    background-color: var(--pink);
  }

  #bggrey {
    background-color: var(--grey);
  }

  #bgbrowngrey {
    background-color: var(--browngrey);
  }

@media screen and (max-width: 1440px) {
    .thetable {
        top: 18px;
        right: 160px;
    }
}
@media screen and (max-width: 1024px) {
    .thetable {
        top: -20px; 
        right: -45px;
    }
}




 
